<% var houseSold=0, apartSold=0, houseRented=0, apartRented=0;           %>
<% var apartRent=0, houseRent=0, housePrice=0, apartPrice=0;             %>  

<% for (var i = 0; i < emp.length; i++) {                                %>
<%      if (emp[i].propType === 'H') {                                   %>
<%          if(emp[i].listType === 'S') {                                %>
<%              housePrice = emp[i].sum;                                 %>
<%              houseSold  = emp[i].count;                               %>
<%          } else {                                                     %>
<%              houseRent =   emp[i].sum;                                %>
<%              houseRented = emp[i].count;                              %>
<%          }                                                            %>
<%      } else {                                                         %> 
<%          if(emp[i].listType === 'S') {                                %>
<%              apartPrice = emp[i].sum;                                 %>
<%              apartSold  = emp[i].count;                               %>
<%          } else {                                                     %>
<%              apartRent =   emp[i].sum;                                %>
<%              apartRented = emp[i].count;                              %>
<%          }                                                            %>
<%  } }                                                                  %>

<% var rent=0, price=0;                                                  %>                                  
<% var sold = houseSold + apartSold;                                     %>
<% var rented = apartRented + houseRented;                               %>

<% if (sold > 0) {                                                       %>
<%     price = housePrice + apartPrice;                                  %> 
<% }                                                                     %>
<% if (rented > 0) {                                                     %>
<%     rent = houseRent + apartRent;                                     %> 
<% }                                                                     %>

<% var houseSell=0, apartSell=0, houseRents=0, apartRents=0; %>
<%  for (var i = 0; i < office.length; i++) {                %>
<%      if (office[i].listType === 'S'){                     %>
<%          if(office[i].propType === 'H') {                 %>
<%              houseSell = office[i].count;                 %>
<%          } else {                                         %>
<%              apartSell = office[i].count;                 %>
<%          }                                                %>
<%      } else {                                             %>
<%          if(office[i].propType === 'H') {                 %>
<%              houseRents = office[i].count;                %>
<%          } else {                                         %>
<%              apartRents = office[i].count;                %>
<%  } } }                                                    %>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <script src="/scripts/d3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/styles/dashboard.css">
    <title>Dashboard</title>
</head>
<body id="agent">
    <nav>
        
        <div>
            PROPERTY MANAGEMENT SYSTEM
        </div>
        <ul>
            <li class="ital capitalize">Welcome</li>
            <li class="highlight"><a href="/login">Logout</a></li>
        </ul>
    </nav>
    <main class="flex-col">
        <div >
            <section class="card fixed-height">
                <h3><%=user.name%></h3>
                
                <h3>Employee ID: <%=user.EID%></h3>
                
                <h3>Office ID: <%=user.officeID%></h3>
                
                <h3 class="ital lower"><%=user.email%></h3>
                
                <h3>Phone: <%=user.contactNum%></h3>
            </section>
            
            <section class="card fixed-height">
            <% if (rented == 1) {                                          %>
                <h4><%=rented%> property rented out this year</h4>
            <% } else {                                                    %>    
                <h4><%=rented%> properties rented out this year</h4>
            <% }                                                           %>
            <% if (rented == 0) {                                              %> 
                <h4>Average Monthly Rent: $0</h4>
            <% } else {                                                          %> 
                <h4>Average Monthly Rent: $<%=Math.round(rent/rented).toLocaleString()%></h4>
            <% }                                                                 %> 
                <figure class="flex-row">
                    <div class="d3-pie">
                        <svg id="id1" height="150" width="150"></svg>
                        <script>
                            var data = [<%= houseRented %>, <%= apartRented %>]
                            console.log(data);
                            var svg = d3.select("#id1"),
		                    	width = svg.attr("width"),
			                    height = svg.attr("height"),
			                    radius = Math.min(width, height) / 2,
			                    g = svg.append("g").attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

		                    var color = d3.scaleOrdinal(['#7a5195', '#ffa600']);

		                    // Generate the pie
		                    var pie = d3.pie();

		                    // Generate the arcs
		                    var arc = d3.arc()
				                    	.innerRadius(0)
					                    .outerRadius(radius);

		                    //Generate groups
		                    var arcs = g.selectAll("arc")
					                    .data(pie(data))
				                    	.enter()
				                    	.append("g")
				                    	.attr("class", "arc")

		                    //Draw arc paths
		                    arcs.append("path")
			                    .attr("fill", function(d, i) {
			                                	return color(i);
		                    	})
		                    	.attr("d", arc);
                        </script>
                    </div>
                    <figcaption class="flex-col">
                        <div class="flex-row">
                            <div class="orange"></div>
                            <% if (apartRented == 1) { %>
                                <span><%= apartRented %> Apartment</span>
                            <% } else { %>
                                <span><%= apartRented %> Apartments</span>
                            <% } %>
                        </div>
                        <div class="flex-row">
                            <div class="purple"></div>
                            <% if (houseRented == 1) { %>
                                <span><%= houseRented %> House</span>
                            <% } else { %>
                                <span><%= houseRented %> Houses</span>
                            <% } %>
                        </div>
                    </figcaption>
                </figure>
            </section>

            <section class="card fixed-height">
                <% if (sold == 1) {                                            %>
                    <h4><%=sold%> property sold this year</h4>
                <% } else {                                                    %>    
                    <h4><%=sold%> properties sold this year</h4>
                <% }                                                           %>
                <% if (sold == 0 ) {                                                    %>
                    <h4 id="ran">Average Selling Price: $0</h4>
                <% } else {                                                               %>
                    <h4 id="run">Average Selling Price: $<%=Math.round(price/sold).toLocaleString()%></h4>
                <% }                                                                      %>
                <figure class="flex-row">
                    <div class="d3-pie">
                        <svg id="id2" height="150" width="150"></svg>
                        <script>
                            var data = [<%= houseSold %>, <%= apartSold %>]
                            console.log(data);
                            var svg = d3.select("#id2"),
		                    	width = svg.attr("width"),
			                    height = svg.attr("height"),
			                    radius = Math.min(width, height) / 2,
			                    g = svg.append("g").attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

		                    var color = d3.scaleOrdinal(['#003f5c', '#ef5675']);

		                    // Generate the pie
		                    var pie = d3.pie();

		                    // Generate the arcs
		                    var arc = d3.arc()
				                    	.innerRadius(0)
					                    .outerRadius(radius);

		                    //Generate groups
		                    var arcs = g.selectAll("arc")
					                    .data(pie(data))
				                    	.enter()
				                    	.append("g")
				                    	.attr("class", "arc")

		                    //Draw arc paths
		                    arcs.append("path")
			                    .attr("fill", function(d, i) {
			                                	return color(i);
		                    	})
		                    	.attr("d", arc);
                        </script>
                    </div>
                    <figcaption class="flex-col">
                        <div class="flex-row">
                            <div class="pink"></div>
                            <% if (apartSold == 1) { %>
                                <span><%= apartSold %> Apartment</span>
                            <% } else { %>
                                <span><%= apartSold %> Apartments</span>
                            <% } %>
                        </div>
                        <div class="flex-row">
                            <div class="navy"></div>
                            <% if (houseSold == 1) { %>
                                <span><%= houseSold %> Houses</span>
                            <% } else { %>
                                <span><%= houseSold %> Houses</span>
                            <% } %>
                        </div>
                    </figcaption>
                </figure>
            </section>
        </div>
       
        <div class="flex-row stretch marg-bottom">
            <div>
                <div class="flex-row">
                    <section class="card marg">
                    <% if (houseSell == 1)  {                                               %>
                        <h4><%=houseSell%> unsold house listed by your sales office.</h4>
                    <% } else {                                                             %>
                        <h4><%=houseSell%> unsold houses listed by your sales office.</h4>
                    <% }                                                                    %>
                    </section>
                    <section class="card marg">
                    <% if (apartSell == 1)  {                                                        %>
                        <h4><%=apartSell%> unsold apartment listed by your sales office.</h4>
                    <% } else {                                                                      %>
                        <h4><%=apartSell%> unsold apartments listed by your sales office.</h4>
                    <% }                                                                             %>
                    </section>
                </div>
                <div class="flex-row">
                    <section class="card marg">
                    <% if (houseRents == 1)  {                                                             %>
                        <h4><%=houseRents%> house listed by your office is available for rent.</h4>
                    <% } else {                                                                            %>
                        <h4><%=houseRents%> houses listed by your office are available for rent.</h4>
                    <% }                                                                                   %>
                    </section>
                    <section class="card marg">
                    <% if(apartRents == 1) {                                                                     %>                   
                        <h4><%=apartRents%> apartment listed by your office is available for rent.</h4>
                    <% } else {                                                                                  %>
                        <h4><%=apartRents%> apartments listed by your office are available for rent.</h4>
                    <% }                                                                                         %>
                    </section>
                </div>
            </div>

                    

        </div>
        <div>
            <form class="card small" action="/agent/<%=user.EID%>/properties" method="POST">
            <!-- <h1><a>View<br>all unsold<br>Properties</a></h1> -->
            <input type="text" class="display-none" name="officeID" value="<%=user.officeID%>">
            <input type="text" class="display-none" name="userName" value="<%=user.name%>">
            <button>View<br>unsold<br>properties</button>
        </form>   
    </div>
         

    </main>
</body>
</html>
